/*---------------------------------------------------------
 * Entries
---------------------------------------------------------*/
.page__header {
  text-align: center;
  @include font-size(30);
  font-family:'Avenir Next LT W01 Bold';
  margin-top: 0;
}
.main--aside,
.main--body {
}
.main--aside {
  background-color: rgba( 246, 246, 246, 1 );
}
.projects {
  padding: 3em 1em 0;
  .projects__heading {
    @include font-size(18);
    text-align: center;
    padding: 0.5em;
    padding: 1em 1em;
    margin: 0;
    position: relative;
    font-family:'AvenirNextLTW01-Medium';
    a {
      text-decoration: none;
      color: $color__font;
    }
  }
  ul {
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0;
    a {
      font-family:'Avenir Next W01 Light';
      text-align: center;
      position: relative;
      width: 100%;
      margin: 0 auto;
      display: block;
      white-space: nowrap;
      text-decoration: none;
      padding: 1em;
      color: $color__font;
      @include font-size(14);
      font-weight: bold;
      background-color: transparent;
      border: 1px solid rgb( 246, 246, 246 );
      transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
      &:hover {
        transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
        border-color: darken( rgb( 237, 237, 237 ), 5% );
        background-color: #fff;
      }
    }
  }
}
.files {
  overflow: hidden;
}
.files__container {
  width: 23%;
  float: left;
  margin: 1%;
  .files__item {
    height: 350px;
    overflow: hidden;
    border: 1px solid rgb( 246, 246, 246 );
  }
  .files__title {
    padding: 0.25em;
    text-align: center;
    @include font-size(14);
    font-family:'Avenir Next W01 Light';
  }
}
div.pdfemb-viewer { 
  border: 1px solid #ddd !important;
  width: 100% !important;
  margin-bottom: 3em !important;
}
div.pdfemb-inner-div {
    background-color: transparent !important;
}
.accordian {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 20px;
  right: -6px;
  background-size: 18px 18px;
  &.closed {
    background-image: url( images/arrows.png );
  }
  &.opened {
    transform: rotate(180deg);
  }
  &:hover {
    cursor: pointer;
  }
}
.menu-item {
  ul {
    display: none;
  }
}